.fullscreen-loader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem; /* space between dots */
}

.dot {
  width: 1.5rem; /* size of dots */
  height: 1.5rem;
  background-color: #ec4899; /* Tailwind pink-500 */
  border-radius: 50%;
  animation: bounce 0.6s infinite ease-in-out;
}

/* Delay each dot */
.dot:nth-child(1) {
  animation-delay: 0s;
  background-color: #ec4899;
}
.dot:nth-child(2) {
  animation-delay: 0.3s;
  background-color: #ee4f9e;
}
.dot:nth-child(3) {
  animation-delay: 0.5s;
  background-color: #f055a2;
}

/* Bounce / scaling effect */
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0.6);
  }
  40% {
    transform: scale(1);
  }
}