.animated-bg {
  background: linear-gradient(
    -45deg,
    #ffb6c1,
    #ff9eb6,
    #ff6f91,
    #ff4f81,
    #ff85a1,
    #ffc1cc
  );
  background-size: 600% 600%;
  animation: pinkFlow 5s ease infinite;
}

@keyframes pinkFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
